<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar perfil</title>

  <link rel="icon" href="/images/flaticon.ico" />

  <link rel="stylesheet" href="/styles/style4.css" />

</head>

<body>

  <div id="logo">

    <img id="image-logo" src="/images/applogo_horizontal.svg" alt="logo">

    <img id="image-parent" src="/images/BabyParents.svg" alt="Pai com bebe">
  </div>

  <div id="Edit">

    <h1>Editar Perfil</h1>

    <br>

    <img id="ProfilePic" src="/images/ProfilePic.svg" alt="Foto de perfil">

    <br>

    <div class="input-field1">
      <label for="Username">Nome de usuário</label> <br>
      <input type="text" placeholder="Username" id="username" name="username">
    </div>

    <br>

    <div class="input-field">
      <label for="Email">E-mail</label> <br>
      <input type="text" placeholder="Email" id="username" name="username">
    </div>

    <br>

    <div class="input-field">
      <label for="Password">Senha</label> <br>
      <input type="password" placeholder="password" id="password" name="password">
    </div>

    <br>
    <br>

    <button>Salvar alterações</button>

  </div>


</body>

</html>