<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar perfil</title>

  <link rel="icon" href="/images/flaticon.ico" />

  <link rel="stylesheet" href="/styles/editProfile.css" />

</head>

<body>

  <div id="logo">

    <h1 id="appName">Kid's up</h1>

    <img id="image-parent" src="/images/BabyParents.svg" alt="Pai com bebe">
  </div>

  <div id="Edit">

    <form>

    <h1 id="Edit-profile">Editar Perfil</h1>

    
    <div>
      <img id="ProfilePic" src="/images/ProfilePic.svg" alt="Foto de perfil">
    </div>

      <br>

      <div class="input-field">
        <label for="Username">Nome de usuário</label> <br>
        <input type="text" placeholder="Username" id="username" name="username">
      </div>


      <div class="input-field">
        <label for="Email">E-mail</label> <br>
        <input type="text" placeholder="Email" id="username" name="username">
      </div>

      <div class="input-field">
        <label for="Password">Senha</label> <br>
        <input type="password" placeholder="password" id="password" name="password">
      </div>

    <div id="buttons">
      <button id="save">Salvar alterações</button> 

      <button id="delete">Deletar conta</button>

    </div>

    </form>

  </div>


</body>

</html>