<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar perfil</title>

  <link rel="icon" href="/images/flaticon.ico" />

  <link rel="stylesheet" href="/styles/global.css" />
  <link rel="stylesheet" href="/styles/editProfile.css" />

</head>

<body>

  <div id="logo">

    <h1 id="appName">Kid's up</h1>

    <img id="image-parent" src="/images/BabyParents.svg" alt="Pai com bebe">
  </div>

  <div id="Edit">

    <form id="formUpdate" onSubmit="ProfileForm.submit(event)">

      <h1 id="Edit-profile">Editar Perfil</h1>


      <div>
        <img id="ProfilePic" src="/images/defaultProfile.png" alt="Foto de perfil">
      </div>

      <br>

      <div class="input-field">
        <label for="username">Nome de usuário</label> <br>
        <input type="text" value="<%= parent.username %>" placeholder="Username" id="username" class="form-input" name="username">
      </div>


      <div class="input-field">
        <label for="phone">Número de telefone</label> <br>
        <input type="text" value="<%= parent.phone_number %>" placeholder="Numero de telefone" class="form-input" id="phone_number"
          name="phone_number">
      </div>

      <div id="buttons">
        <button id="save" type="submit" >Salvar alterações</button>

        <button onCLick="AuthForm.logout()"  id="delete">Sair da conta</button>

      </div>

    </form>

  </div>

  <script src="/scripts/formProfile.js"></script>
  <script src="/scripts/authForm.js"></script>

</body>

</html>