<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="images/flaticon.ico" />

  <link rel="stylesheet" href="styles/erro.css">

  <title>Error 404</title>
</head>

<body>
  <header>
    <img id="logo" src="images/logo.png" alt="logo" />
  </header>

  <main>
    <img src="images/build.svg" alt="" />

    <div id="message">
      <div id="error">
        <span id="msgError">erro 404</span>
      </div>

      <h1>Ah não!</h1>

      <span id="messagePage"> Essa pagina não foi <br />
        encontrada.</span>

      <a href="/">Voltar a página inicial</a>

    </div>

  </main>

</body>

</html>