<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kid's up</title>

  <link rel="icon" href="/images/flaticon.ico" />

  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  
  <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
  <!--- Parte da logo do site -->

  <header class="header">
    <img src="/images/logo.png" alt="logo" class="logo" />

    
    <div id="buttons">
    <a class="signup" href="/signup">Cadastre-se</a>

    <a class="login" href="/login">Entrar</a>
    
  </div>

  </header>

  <!---Introdução do app --->

  <main class="content">
    <section class="intro">
      <span>O aplicativo que irá mudar a comunicação entre pais e
        professores.</span>

      <img src="/images/phone.png" alt="phone" class="phone" />
    </section>

    <!---Download do app --->

    <section class="download">
      <div class="imageParents">
        <img src="/images/parents.svg" alt="parents" />
      </div>

      <div class="container">
        <span>Baixe o aplicativo, <br> clicando abaixo!</span>

        <div class="downloadButtons">
          <div class="androidDownload">
            <a href="https://play.google.com/store" class="android">
              <i class="bx bxl-android"></i>
            </a>
          </div>

          <div class="appleDonload">
            <a href="https://www.apple.com/br/shop" class="apple">
              <i class="bx bxl-apple"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!---Meios de comunicação--->

  <footer>
    <div class="networks">
      <span>Redes sociais</span>

      <div class="links">
        <a href="https://www.instagram.com" class="networks-links">
          <img src="/images/insta.svg" alt="" />
        </a>

        <a href="https://www.twitter.com" class="networks-links">
          <img src="/images/twitter.svg" alt="" />
        </a>

        <a href="https://www.facebook.com" class="networks-links">
          <img src="/images/facebook.svg" alt="" />
        </a>
      </div>
    </div>

    <div class="speak">
      <span>Fale conosco</span>

      <div class="email">
        <img src="images/email.svg" alt="" />
        <a href="mailto:contato@kidsup.com.br">contato@kidsup.com.br</a>
      </div>
    </div>
  </footer>
</body>

</html>