<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Login</title>

  <link rel="icon" href="/images/flaticon.ico" />

  <link rel="stylesheet" href="/styles/login.css" />

  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <div id="logo">
  
    <img id="image-logo" src="/images/logo.png" alt="logo">

    <img id="image-baby" src="/images/Baby.svg" alt="Baby" />
  </div>

  <div id="content">
    <div id="forms-container">

      <form id="form-login">
        <h1>Login</h1>

        <br />

        <div class="input-container">
          <input type="text" placeholder="Email" id="email" name="email" required />
        </div>

        <br />

        <div class="input-container">
          <input type="password" placeholder="Senha" id="password" name="password" required />
        </div>

        <br>

        <br>

        <button type="submit" form="form-login" >Entrar</button>
      </form>

      <br />

      <br />


      <a href="login.html">Esqueci minha senha</a>
    </div>
  </div>
</body>

</html>