<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Cadastre-se</title>

  <link rel="icon" href="assets/images/flaticon.ico" />

  <link rel="stylesheet" href="assets/styles/style2.css" />

  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <div id="logo">
    <img src="/images/applogo_vertical.svg" alt="logo" />
  </div>

  <div id="content">
    <div id="form-container">
      <form>
        <h1>Cadastre-se</h1>

        <br />

        <div class="input-container">
          <input type="text" placeholder="Email" id="email" name="email" required />
        </div>

        <br />

        <div class="input-container">
          <input type="text" placeholder="Senha" id="password" name="password" required />
        </div>

        <br />

        <div class="input-container">
          <input type="text" placeholder="Confirme sua senha" id="confirm" name="confirm" required />
        </div>

        <br />

        <div class="input-container">
          <input type="text" id="username" placeholder="Nome de usuário" name="username" required />
        </div>

        <br />

        <button>Criar conta</button>
      </form>

      <br />

      <a href="login.html">Já tenho uma conta</a>
    </div>
  </div>
</body>

</html>